@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'montserrat', sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 7.7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.apresentacao__conteudo__titulo{
    font-size: 39px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', Sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__buttons__links {
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--cor-terciaria);
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__buttons__links:hover {
    background-color: var(--cor-hover);
}

.rodape {
    padding: 22px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
}